body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    height: 750px;
    background-image: url(./mybackgroundimage.jpeg);
    background-size:cover;
    background-position:center;
}

.checked {
    text-decoration: line-through;
  }
  
p{
    margin: 10px 10px 10px 0;
    padding: 10px;
    background: rgba(240, 248, 248, 0.2);
    border-radius: 7px;
    width: 250px;
    color:black;
}


.card{
 margin-top: 100px;
    border-radius: 12px;
    background: rgba(240, 248, 248, 0.4);
    border: none;
    width: 323px;
    
}

.myInput{
    border: none;
    border-radius: 7px;
    padding: 5px;
    background-color: transparent;
    border-bottom: 1px solid #ccc;
    color: #555;
    box-sizing: border-box;
    width: 200px;
}

.addMyTodo{
    width: 37px;
    border: none;
    border-radius: 50%;
    padding: 5px;
    background-color: rgb(233, 179, 224);
}

 .myDate{
    border: none;
    margin-right: 100px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
  
}


.removeTodo{
background-color:crimson;
border: none;
border-radius: 7px;
margin-left: 5px;
padding: 2px;

}

.editTodo{
    background-color: rgb(238, 223, 174);
    border-radius: 7px;
    border: none;
    margin-left: 20px;
    padding: 4px;
}

.updateTodo{
    border-radius: 7px;  
    border: none;
    background-color: rgb(164, 219, 238);
    margin-top: 10px;
}
